.card__product {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(122, 122, 122, 0.25),
    0 10px 10px rgba(122, 122, 122, 0.22);
  position: relative;
  margin: 0.9rem;
  height: 395px;

  @include rwd(820) {
    height: 385px;
  }

  @include rwd(480) {
    height: 380px;
  }

  -webkit-box-flex: 1;
  -ms-flex: 1 0 23%;
  flex: 1 0 23%;
  max-width: 23%;

  &.special_offer {
    border-top: 2px solid rgb(255, 40, 57);
  }

  &__special_offer {
    height: 32px;
    color: rgb(255, 40, 57);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &__title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    z-index: 2;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      top: 0;
      left: 0;
    }

    // TODO typo
    font-size: 1.4rem;
    padding: 14px;
    color: $color-text-1;
    font-weight: 400;

    @include rwd(980) {
      font-size: 1.5rem;
    }
  }

  &__img_box {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
    height: 200px;
    position: relative;

    &__img {
      max-width: 100%;
      max-height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      overflow: hidden;
    }
  }

  &__shipping_icon {
    width: 3rem;
    height: 3rem;
    background: url(../images/shippment.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  &__size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8px;

    &--single {
      border: 1px solid gray;
      margin: 2px;
      padding: 5px;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    text-align: end;
    margin-top: auto;
    margin-bottom: 16px;

    // TODO typo
    font-size: 1.4rem;

    &--del {
      font-size: 1.5rem;
      margin-bottom: -10px;
      margin-right: -10%;
      color: $color-text-1;
    }

    &.dis {
      flex-direction: column;

      & div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    &--amount {
      padding: 4px;
      font-size: 2.3rem;
      font-weight: 600;
    }

    &--currency {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  &__color {
    display: flex;
    position: absolute;
    margin: 8px;

    &--item {
      margin: 2px;
      border-radius: 4px;
      width: 10px;
      height: 15px;
      transform: skewX(-40deg);
    }
  }

  &__status {
    position: absolute;
    &.lst {
      color: white;
      font-weight: bold;
      font-size: 9px;
      right: 5px;
      top: 5px;
      padding: 4px 3px;
      background: red;
      text-align: center;
      border-radius: 3px;
    }

    &.unavil {
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  &__stroke_line {
    position: absolute;
    z-index: 1;

    &._1 {
      top: 30px;
      left: 10px;
    }
    &._2 {
      bottom: 10px;
      right: 10px;
    }

    &__path {
      stroke: $color-blue-bright;
      stroke-width: 0.3;
      transition: stroke-width 0.4s ease;
    }
  }
  &:hover .stroke__anim-v3 {
    animation: stroke_anim 4s 0.5s ease-in-out infinite;
  }
  &:hover &__stroke_line__path {
    stroke-width: 1;
  }
  &:hover &__shipping_icon {
    opacity: 1;
  }
}
