.checkbox {
    &:not(:last-child) {
        padding-bottom: 1rem;
    }
    &__text {
        font-size: 1.1rem;
        color: $color-grey2;
        margin-right: 0.5rem;
    }
    &__container {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__input {
        z-index: -1;
        display: none;
    }
    &__input:checked + &__container &__label {
        background: $color-grey2;
        -webkit-clip-path: polygon(
            18% 25%,
            40% 53%,
            90% 13%,
            100% 26%,
            36% 79%,
            5% 36%
        );
        transition: all 0.5s ease;
        .effect {
            opacity: 0;
            transition: all 0.3s;
        }
    }
    &__label {
        width: 1.5rem;
        height: 1.5rem;
        background: white;
        border-radius: 30px;
        overflow: hidden;
        -webkit-clip-path: polygon(
            50% 0%,
            100% 0,
            100% 100%,
            50% 100%,
            0 100%,
            0 0
        );
        transition: all 0.5s ease;
        border: 1px solid $color-grey2;
        cursor: pointer;
    }
}
