.filter_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-width: 220px;
  max-width: 350px;
  overflow: hidden;
  background: white;
  border: 1px solid #dedede;
  border-radius: 15px;
  padding-bottom: 16px;
  padding-top: 8px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.07);

  &.tablet_mode {
    display: none;
  }

  @include rwd(900) {
    &.tablet_mode {
      max-width: none;
      display: flex;
    }
  }

  & h3 {
    padding: 6px;
    padding-bottom: 12px;
    width: 100%;
    font-size: 1.7rem;
    color: $color-text-1;
  }
  &__checkbox_svg {
    width: 3.4rem;
    height: 3.4rem;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px 12px;
  }

  &__container {
    border-radius: 16px 0 0 0;
    border-top: 2px solid #23ccdf;
    width: 100%;
    padding-left: 22px;

    @include rwd(900) {
      display: flex;
      padding-left: 8px;
      padding-top: 8px;
    }
    @include rwd(555) {
      display: flex;
      flex-direction: column;
    }
  }

  & h4 {
    margin-block-end: 0;
    margin-top: 0px;
    position: relative;
    bottom: -18px;
    right: 20px;
    font-size: 1.4rem;
    color: #707070;
    display: inline-block;
    background: white;
    padding-left: 8px;
    padding-right: 8px;

    @include rwd(900) {
      height: fit-content;
      background: transparent;
    }
  }

  &__filter_container {
    direction: rtl;
    width: 100%;
    margin: 8px 8px;
    padding: 12px;
    padding-right: 0;
    border-top: 1px solid #80808040;
    border-left: 1px solid #80808040;
    border-radius: 15px 0 0 0;

    @include rwd(900) {
      margin: 8px 0px;
      padding: 4px;
      padding-top: 20px;
      border: none;
      border-left: 1px solid #80808040;
      border-radius: 0;

      &:last-of-type {
        border-left: none;
      }
    }
  }

  //  -----------------------------------------------------------------------
  //  brand filter ----------------------------------------------------------
  //  -----------------------------------------------------------------------

  &__brands {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 160px;
    overflow-y: scroll;

    &__brand {
      padding: 2px;
      margin: 6px;

      &-input {
        border: 0;
        cursor: pointer;
        height: 1.125rem;
        width: 1.125rem;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        z-index: 1;
      }

      &-label {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;

        &:before {
          border: 2px solid #707070cc;
          content: "";
          border-radius: 4px;
          display: inline-block;
          height: 1.4rem;
          width: 1.4rem;
          margin-left: 0.625rem;
          vertical-align: bottom;
          transition: all 0.1s ease;
          background-position: 50%;
        }
      }

      &-input:checked ~ &-label::before {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 13px;
        border: 2px solid #3a2e2c;
        background-image: url(..\images\check.svg);
      }

      &-input:hover ~ &-label::before {
        border: 2px solid #6b6666;
      }
      &-input:checked:hover ~ &-label::before {
        border: 2px solid #3a2e2c;
      }
    }
  }

  //  ---------------------------------------------------------------------------
  //  size filter ---------------------------------------------------------------
  //  ---------------------------------------------------------------------------

  &__sizes {
    display: flex;
    justify-content: start;
    margin: 12px 12px;
    flex-wrap: wrap;
    font-size: 1.3rem;
    color: #707070cc;

    &__size {
      height: 3rem;
      width: 3rem;
      text-align: center;
      margin: 6px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      position: relative;

      &-wrapper {
        height: 3rem;
        width: 3rem;
        position: absolute;
        transition: all 0.1s ease;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px #707070cc;
      }

      &-input {
        border: 0;
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        z-index: 1;
      }

      &-input:checked ~ &-wrapper {
        border: 2px solid #3a2e2c;
      }

      &-input:hover ~ &-wrapper {
        border: 1px solid #5c5656;
      }

      &-input:checked:hover ~ &-wrapper {
        border: 2px solid #3a2e2c;
      }
    }
  }

  //  ---------------------------------------------------------------------------
  // color filter ---------------------------------------------------------------
  //  ---------------------------------------------------------------------------

  &__colores {
    display: flex;
    justify-content: start;
    margin: 12px 12px;
    flex-wrap: wrap;
    font-size: 0.7rem;

    &__color {
      height: auto;
      width: auto;
      text-align: center;
      margin: 7px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      position: relative;

      &-wrapper {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 10px;
        transition: all 0.1s ease;
        border: 1px solid rgb(146, 146, 146);
        position: relative;
        margin-bottom: 4px;
        padding: 2px;
      }

      &-item {
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }

      &-input {
        border: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        z-index: 1;
      }

      &-input:checked ~ .flex-col > &-wrapper {
        border: 2px solid black;
        padding: 0;
      }

      &-input:hover ~ .flex-col > &-wrapper {
        border: 2px solid #5c5656;
        padding: 2;
      }

      &-input:checked:hover ~ .flex-col > &-wrapper {
        border: 2px solid black;
      }
    }
  }

  //  -------------------------------------------------------------------
  // price filter -------------------------------------------------------
  //  -------------------------------------------------------------------

  &__prices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 160px;
    overflow-y: scroll;
    font-size: 1.3rem;
    @include rwd(900) {
      margin: 12px;
    }

    &__price {
      padding: 2px;
      margin: 6px;

      &-input {
        border: 0;
        cursor: pointer;
        height: 2.4rem;
        width: 100%;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        z-index: 2;
      }

      &-label {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;

        &:before {
          border: 2px solid #bab6b5;
          content: "";
          display: inline-block;
          height: 2.2rem;
          width: 2.2rem;
          margin-left: 0.625rem;
          vertical-align: bottom;
          border-radius: 4px;
          transition: all 0.1s ease;
          background-position: 50%;
        }
      }

      &-input:checked ~ &-label::before {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 13px;
        border: 2px solid #3a2e2c;
        background-image: url(..\images\check.svg);
      }

      &-input:hover ~ &-label::before {
        border: 2px solid #6b6666;
      }
      &-input:checked:hover ~ &-label::before {
        border: 2px solid #3a2e2c;
      }
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
