.index__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  margin-top: 60px;
  overflow: hidden;
  width: 100%;
  min-width: 1009px;
  max-width: 1676px;
  margin-right: auto;
  margin-left: auto;

  &__landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &-s1 {
      display: flex;
      flex-direction: column;
      width: 82%;
    }

    &-s2 {
      width: 16%;
      @include flex_c_c;
      align-items: flex-start;
    }
  }

  &__offers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -8px;
  }

  &__categories {
    @include flex_c_c;
    width: 100%;
  }

  &__banner {
    @include flex_c_c;
    width: 100%;
  }

  &__product_slider {
    margin-right: -8px;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
