.index_card {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  overflow: hidden;
  @include flex_c_c;
  @include contentBox_s1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__content_holder {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    @include flex_c_c;
    flex-direction: column;
    box-sizing: content-box;
    height: 20%;
    width: 100%;
    padding: 8px;
    transition: height 0.5s ease;

    & h1 {
      font-size: 3rem;
    }
  }

  &:hover &__content_holder {
    height: 100%;
  }
}
