.index__categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 620px;
  margin-top: 2.5rem;

  &__title__box {
    display: flex;
    padding: 8px;
    margin-right: 2.5rem;
    align-items: center;
    width: 96%;
    position: relative;

    & h2 {
      padding: 8px;
      font-size: 2.3rem;
      background: whitesmoke;
      color: $color-text-1;
      z-index: 1;
      margin-right: 3rem;
    }

    &::after {
      content: "";
      position: absolute;
      height: 10px;
      width: 100%;
      top: 65%;
      transform: translateY(-50%);
      border-radius: 0 16px 0 0;
      border-top: 2px solid rgba(173, 173, 173, 0.4);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 77.5px);
    gap: 1.6rem;
    width: 95%;
    margin: auto;

    &__card {
      display: block;
      width: 100%;
      @include flex_c_c;
      @include contentBox_s1;
      overflow: hidden;

      & img {
        height: 100%;
        display: block;
        object-fit: cover;
      }

      &:nth-child(1) {
        grid-area: 1/1/4/5;
      }

      &:nth-child(2) {
        grid-area: 1/8/5/12;
      }

      &:nth-child(3) {
        grid-area: 1/5/6/8;
      }

      &:nth-child(4) {
        grid-area: 6/5/-1/8;
      }

      &:nth-child(5) {
        grid-area: 4/1/-1/5;
      }

      &:nth-child(6) {
        grid-area: 5/8/-1/12;
      }
    }
  }
}
