.newPassword {
    @include accountContainer;
    padding: 2rem;
    padding-bottom: 3rem;
    border: none;
    &__container {
        max-width: 40rem;
        margin: 0 auto;
    }
    &__span {
        display: inline-block;
        margin: 1.5rem;
        font-size: 1.3rem;
        color: $color-grey2;
    }
}
