.sorter_box {
  width: 100%;
  display: flex;
  align-items: center;

  &.mobile_mode {
    display: none;
  }

  @include rwd(650) {
    display: none;

    &.mobile_mode {
      display: flex;
      @include contentBox_s1;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__title {
    display: flex;

    & h4 {
      font-size: 1.7rem;
      padding: 6px;
      padding-bottom: 12px;
      color: $color-text-1;
    }

    &__background {
      background-image: url(../images/sort.svg);
      width: 3.4rem;
      height: 3.4rem;
      background-repeat: no-repeat;
      background-position: center;
      margin: 4px 10px;
    }
  }

  &__button {
    background: white;
    border: 1px solid $color-blue-bright;
    margin: 0 6px;
    padding: 3px 8px;
    border-radius: 6px;
    cursor: pointer;
    color: $color-text-1;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background 0.3s ease;

    @include rwd(555) {
      margin-top: 1rem;
    }

    &.active {
      background: $color-blue-bright;
      color: white;
    }

    &:focus {
      outline: none;
    }
  }

  &__sort_options {
    display: flex;
    flex-wrap: wrap;
  }
}
