.stars {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // width: 100%;
    direction: rtl;
    text-align: left;

    &__star {
        position: relative;
        line-height: 2.5rem;
        display: inline-block;
        transition: color 0.2s ease;
        color: #ebebeb;
        &:before {
            content: '\2605';
            width: 2.5rem;
            height: 2.5rem;
            font-size: 2.5rem;
        }
        &.selected,
        &.selected ~ & {
            transition: color 0.8s ease;
            color: #fae25b;
        }
    }
}
