// colors
$color-black: #000;
$color-grey-dark: #444;
$color-grey1: #666;
$color-grey2: #999;
$color-grey3: #aaa;
$color-grey4: #ccc;

$color-success: rgb(53, 230, 91);
$color-error: #f88;
$color-error2: #ff6961;
$color-blue: rgb(74, 190, 211);

// fonts
$default-font-size: 1.6rem;

// grid

$gutter-horizontal: 2rem;
$gutter-vertical: 2rem;
$grid-width: 100%;
